services:
  backend:
    build: ./qrest-backend
    ports:
      - "8080:8080"
    env_file:
      - .env.prod


  frontend:
    build: ./qrest-frontend
    ports:
      - "80:80"
    env_file:
      - .env.prod
    depends_on:
      - backend
